<div {{ attributes }}>
    <table {{ attributes }}>
        <tr>
            {% for column in this.columns %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for row in this.data %}
            <tr>
                {% for column in this.columns %}
                    <td>{{ row[column] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <button
            data-action="live#action"
            data-action-name="previous"
    >Previous</button>
    <button
            data-action="live#action"
            data-action-name="next"
    >Next</button>
</div>
